.triptych{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 40px 4%;
    height: 95vh;
    gap: 40px;
    color: black;
    text-align: center;
}

.triptych-tile{
    max-width: 30%;
    padding-top: 20px;
    color: black;
}

.triptych-image{
    width: 80%;
    object-fit: cover;
    aspect-ratio: 2 / 3;
    border-radius: 4px;
}

.triptych-tile-date{
    font-weight: 100;
}

.triptych .triptych-tile:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 24px rgba(0,0,0,.25);
  }