.view-all-link {
    display: inline-block;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--charcoal);
  }
  
  .view-all-link:hover {
    text-decoration: underline;
  }
  